body {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    /*overflow: hidden;*/
    background-color: #35654d;
} 
#container {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#container-timer {
    display: inline-flex;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    display: inline-flex;
    flex-direction: row ;
    flex-wrap: wrap;
    /* grid-auto-flow: row;*/
    grid-template-columns: 60px;
    grid-template-rows: 60px;
    background-color: rgba(0, 0, 0, 0.8);
}

.Cell {
    background-color: rgba(255, 255, 255, 0.8);
    border: 5px solid rgba(0, 0, 0, 0.8);
    padding: 25px;
    text-align: center;
}

.Bomb {
    padding: 2.5px;
    height: 45px;
    width: 45px;
    content: url(../img/bomb.svg);
/*     background-color: rgba(171, 49, 49, 0.8) !important;*/
}

.ShownCell {
    background-color: #99FF99;
    padding: 2.5px;
}

img {
    display: block;
    height: 45px;
    width: 45px;
}

.Flag {
    padding: 2.5px;
    height: 45px;
    width: 45px;
    content: url(../img/flag.svg);
}

#start {
    margin-top: 40px;
}

#restart {
    margin-top: 40px;
}

.GeneratorText {
    font-size: 175%;
    border: none;
    margin: 20px;
/*     transform: translate(0px, 400px);*/
}

.GeneratorInput {
    font-size: 150%;
    border: none;
    margin: 20px;
    border-bottom: 1px solid black;
/*     transform: translate(0px, 400px); */
}

.Button {
    margin: 20px;
    font-size: 115%;
    width: 125px;
}

.Hidden {
    visibility: hidden;
    padding: 0px;
    margin: 0px;
    height: 0px;
    width: 0px;
}

.Timer {
    text-align: center;
    padding: 10px;
    font-size: 35px;
    /* font-family: Papyrus, 'Times New Roman', Times, serif; */
}

.InGameText {
    font-size: 175%;
    border: none;
    margin: 20px;
}
 
.StartingTextBG {
    border: 3px solid black;
    border-radius: 25px;
    position: relative;
    margin: 100px auto 0 auto;
    background-color: #427e60;
    height: 390px;
    width: 450px;
    
}

.InGameTextBG {
    border: 3px solid black;
    border-radius: 25px;
    position: relative;
    margin: 100px auto 0 auto;
    background-color: #427e60;
    height: 310px;
    width: 500px;
}

.EndGameTextBG {
    border: 3px solid black;
    border-radius: 25px;
    position: relative;
    margin: 100px auto 0 auto;
    background-color: #427e60;
    height: 350px;
    width: 450px;
}