html {
    text-align: center;
}

body {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*overflow: hidden;*/
} 
#container {
    display: inline-flex;
    flex-direction: column ;
    flex-wrap: wrap;
}
.row {
    display: inline-flex;
    flex-direction: row ;
    flex-wrap: wrap;
    /* grid-auto-flow: row;*/
    grid-template-columns: 60px;
    grid-template-rows: 60px;
    background-color: rgba(0, 0, 0, 0.8);
}

.Cell {
    background-color: rgba(255, 255, 255, 0.8);
    border: 5px solid rgba(0, 0, 0, 0.8);
    padding: 25px;
    text-align: center;
}

.Bomb {
    padding: 2.5px;
    height: 45px;
    width: 45px;
    content: url(../img/bomb.svg);
    background-color: rgba(171, 49, 49, 0.8) !important;
}

.ShownCell {
    background-color: aqua;
    padding: 2.5px;
}

img {
    display: block;
    height: 45px;
    width: 45px;
}

.Flag {
    padding: 2.5px;
    height: 45px;
    width: 45px;
    content: url(../img/flag.svg);
}

.GeneratorText {
    font-size: 150%;
    border: none;
    margin: 20px;
    transform: translate(0px, 400px);
}

.GeneratorInput {
    font-size: 150%;
    border: none;
    margin: 20px;
    border-bottom: 1px solid black;
    transform: translate(0px, 400px);
}

.Button {
    margin: 20px;
    width: 100px;
}

.Hidden {
    visibility: hidden;
    padding: 0px;
    margin: 0px;
    height: 0px;
    width: 0px;
}

.Timer {
    text-align: center;
    padding: 10px;
    font-size: 40px;
}