<!DOCTYPE html>
<html lang="it">
<head>
    <title>Campo Minato</title>
    <script src="../src/index.js"></script>
    <script src="../src/timer.js" ></script>
    <script src="../src/gameover.js" ></script>
    <script src="../src/startingOptions.js" ></script>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body onload="carica()">
    <div id="textBG" class="StartingTextBG">
        <button id="start" class="Button" onclick="start()"> INIZIAMO! </button>
        <button id="restart" class="Button Hidden" onclick="restart()" class="Hidden"> RIGENERA </button>

        <p id="txtRighe" class="GeneratorText"> Numero di righe: </p>
        <input type="number" id="tableSizeInput" class="GeneratorInput"></input> <br>
        <p id="txtBombe" class="GeneratorText"> Numero di bombe: </p>
        <input type="number" id="difficultyInput" class="GeneratorInput"></input> <br>



        <div id="timer" class="Timer Hidden"></div>

        <p id="txtFlag" class="Hidden InGameText"> Bombe rimanenti:
            <input type="number" class="Button Hidden" id="numeroFlag" readonly> </p>
    </div>
    <br> <br>

    <button id="facile" class="Button" onclick="facile()"> FACILE </button>
    <button id="medio" class="Button" onclick="medio()"> MEDIO </button>
    <button id="difficile" class="Button" onclick="difficile()"> DIFFICILE </button>
    <button id="arduo" class="Button" onclick="arduo()"> ARDUO </button>
    <button id="estremo" class="Button" onclick="estremo()"> ESTREMO </button>
    <br> <br>

    <div id="container"></div> <br> <br>
    
    <audio id="music" autoplay loop>
        <source src="../music/game.mp3" type="audio/mpeg">
      Il tuo browser non supporta l'elemento audio...
      </audio>
</body>
</html>