<!DOCTYPE html>
<html lang="it">
<head>
    <title>Campo Minato</title>
    <script src="../src/index.js"></script>
    <script src="../src/timer.js" ></script>
    <script src="../src/gameover.js" ></script>
    <script src="../src/startingOptions.js" ></script>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <span id="txtRighe"> Numero di righe: </span>
    <input type="number" id="tableSizeInput" class="Generator"></input>
    <span id="txtBombe"> Numero di bombe: </span>
    <input type="number" id="difficultyInput" class="Generator"></input> <br> <br>
    <button id="start" onclick="start()"> INIZIAMO! </button>
    <button id="restart" onclick="restart()" class="Hidden"> RIGENERA </button>
    <div id="timer" class="Timer"></div>
    <input type="number" id="numeroFlag" readonly class="Hidden">
    <div id="container"></div> 
</body>
</html>