<!DOCTYPE html>
<html lang="it">
<head>
    <title>Campo Minato</title>
    <script src="../src/index.js"></script>
    <script src="../src/timer.js" ></script>
    <script src="../src/gameover.js" ></script>
    <script src="../src/startingOptions.js" ></script>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <p id="txtRighe" class="GeneratorText"> Numero di righe: </p> <br>
    <input type="number" id="tableSizeInput" class="GeneratorInput"></input> <br>
    <p id="txtBombe" class="GeneratorText"> Numero di bombe: </p> <br>
    <input type="number" id="difficultyInput" class="GeneratorInput"></input> <br>

    <button id="start" class="Button" onclick="start()"> INIZIAMO! </button>
    <button id="restart" class="Button Hidden" onclick="restart()" class="Hidden"> RIGENERA </button>

    <div id="timer" class="Timer Hidden"></div>

    <p id="txtFlag" class="Hidden InGameText"> Bombe rimanenti: </p>
    <input type="number" class="Button Hidden" id="numeroFlag" readonly> <br> <br>
    <div id="container"></div> 

    
</body>
</html>