<!DOCTYPE html>
<html lang="it">
<head>
    <title>Campo Minato</title>
    <script src="../src/index.js"></script>
    <script src="../src/timer.js" ></script>
    <script src="../src/gameover.js" ></script>
    <script src="../src/startingOptions.js" ></script>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    Numero di righe: <input type="number" id="tableSizeInput"></input>
    Numero di bombe: <input type="number" id="difficultyInput"></input>
    <button id="start" onclick="start()"> INIZIAMO! </button>      
</body>
</html>